<div class="modal fade noselect" id="externalLinksModal" tabindex="-1" role="dialog" aria-bageledby="externalLinksModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 data-bind="text: App.translation.get('external_links', 'menu')"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-left">
                <p><h5 class="text-primary"><strong data-bind="text: App.translation.get('discord', 'menu')"></strong></h5></p>
                <span class="text-muted" data-bind="html: App.translation.get('discord_description', 'menu', {'url': 'https://discord.gg/a6DFe4p'})"></span>

                <p><h5 class="text-primary"><strong data-bind="text: App.translation.get('github', 'menu')"></strong></h5></p>
                <span class="text-muted" data-bind="html: App.translation.get('github_description', 'menu', {'url': 'https://github.com/pokeclicker/pokeclicker'})"></span>

                <p><h5 class="text-primary"><strong data-bind="text: App.translation.get('subreddit', 'menu')"></strong></h5></p>
                <span class="text-muted" data-bind="html: App.translation.get('subreddit_description', 'menu', {'url': 'https://pokeclicker.reddit.com'})"></span>

                <p><h5 class="text-primary"><strong data-bind="text: App.translation.get('wiki', 'menu')"></strong></h5></p>
                <span class="text-muted" data-bind="html: App.translation.get('wiki_description', 'menu', {'url': 'https://wiki.pokeclicker.com'})"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="text: App.translation.get('close_modal', 'menu')"></button>
            </div>
        </div>
    </div>
</div>
